*
!.gitconfig
!.gitignore
!.hammerspoon/**/*
!.ideavimrc
!LICENSE
!README.md
!delta/
!home-manager-testing/
!init-ssh-connection.sh
!nix/
!scripts/

!.config
!.claude
!dotfile-management/
!.ssh
!secrets/
!.local
!.local/share
!.local/share/yadm
!.local/share/yadm/archive
!scripts
!easy-setup.sh
.claude/.DS_Store
.config/karabiner/automatic_backups
dotfile-management/sync/node_modules
.config/zed/prompts/prompts-library-db.0.mdb
