[user]
	email = hugo.e.persson@gmail.com
	name = Hugo Persson
[include]
  path = /Users/hugo/delta/catppuccin.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[pull]
  rebase = false
[log]
    abbrevCommit = true  # short commits
    graphColors = blue,yellow,cyan,magenta,green,red
[core]
  pager = delta
  editor = nvim
	hooksPath = /Users/hugo/scripts/pre-commit

[interactive]
    diffFilter = delta --color-only

[delta]
	features = line-numbers decorations catppuccin-latte
	navigate = true
  whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = main
[submodule]
	recurse = true
[fetch]
	recurseSubmodules = on-demand
[safe]
	directory = /home/hugo/homelab-agent/stacks
	directory = /home/hugo/homelab-agent/stacks/immich
	directory = /home/hugo/homelab-agent/stacks/mediastack
	directory = /home/hugo/homelab-agent/stacks/mediastack
	directory = /home/hugo/homelab-agent/stacks/mediastack
	directory = /home/hugo/homelab-agent/stacks/pinchflat
[credential]
  helper = store

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[url "ssh://git@gitlab.combain.com"]
    insteadOf = https://gitlab.combain.com
