*
!.gitconfig
!.gitignore
!.hammerspoon/**/*
!.ideavimrc
!LICENSE
!README.md
!delta/
!home-manager-testing/
!init-ssh-connection.sh
!nix/
!scripts/

!.config
!.claude
!dotfile-management/
!.ssh
!secrets/
!.local
!.local/share
!.local/share/yadm
!.local/share/yadm/archive
!scripts
!easy-setup.sh
.config/nvim/lua/plugins/.DS_Store
.config/nvim/.DS_Store
.config/nvim/.DS_Store
