!**/*
raycast
github-copilot
thefuck/__pycache__/settings.cpython-313.pyc
**/*.log
tmux
.android
.wrangler/logs
jgit
immich
flutter
swiftpm
settings
tool_state
flutter
immich
swiftpm
tmux/plugins
tmux/tmux.conf.theme
tmux/tmux.conf.theme
.wrangler
aichat
uv
quarto-example
ios-dev-starter-nvim
dns-cli-config.json
